body{
    font-family: Arial;
    background-color: pink
}

.todo-grid,
.todo-input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.todo-input-grid{
    margin-bottom: 10px;
    align-items: stretch;
}

.name-input,
.due-date-input{
    font-size: 15px;
    padding:6px
}

.add-todo-button{
    background-color: green;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.delete-todo-button{
    background-color: darkred;
    border: none;
    font-size: 15px;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.todo-title{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 14, 94);
    font-size: 40px;
    font-weight: bold;
}